.ticket-card {
  width: 560px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
}

.ticket-card-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgb(235, 232, 232);
  width: 30%;
  padding: 20px;
}

.ticket-card-buy-button {
  background-color: rgb(247, 114, 37);
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 8px;
  font-size: 0.9em;
  margin-top: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ticket-card-buy-button:hover {
  background-color: rgb(247, 114, 37, 0.8);
}

.ticket-card-body {
  display: flex;
  padding: 10px 20px;
}

.ticket-time:nth-child(2) {
  margin-left: 20px;
}

.ticket-time:nth-child(3) {
  margin-left: 50px;
}
.ticket-time-departure-time,
.ticket-time-arrival-time {
  font-size: 2em;
  margin-left: -5px;
}

.ticket-time-departure-place,
.ticket-time-arrival-place {
  font-size: 0.7em;
  font-weight: bold;
}

.ticket-time-departure-date,
.ticket-time-arrival-date {
  font-size: 0.8em;
  color: gray;
  margin-top: 3px;
}

.ticket-time-travel-time {
  position: relative;
}

.travel-time-line {
  width: 100%;
  height: 1px;
  background-color: rgb(62, 62, 62);
  position: absolute;
  bottom: -40%;
  left: 0;
}

.plane-travel-wrapper {
  position: absolute;
  right: -30%;
  top: 90%;
}

.ticket-stops span {
  font-size: 0.8em;
  margin-left: 5px;
}
